@{
    ViewBag.Title = "About";
    ViewBag.ActiveClass = "about";
}
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2 class="margin-bottom-5">About Us</h2>
                <div class="row margin-bottom-5">
                    <div class="col-md-6 animate fadeInLeft">
                        <p class="text-justify">Precision IT Solution is professionally managed company since its inception in 2016 and has grown to become a well known entity in NCR. We have earned indelible recognition in corporate/institutional sector for our time bound and efficient services to all our prestigious clients.</p>
                        <p class="text-justify">
                            We at Precision have always understood that IT infrastructure has to support the organizational objectives and help maximize the ROI made by the corporate/institutes. We have not only created the architecture for IT infrastructure but also served them at every steps with both faults tolerant and secure. In addition, we have always ensured that services are available to all our clients whenever and wherever it is required. Precisely through our service we enjoy the patronage of all our corporate/institutional and home clients, who not only consider us as service partners, but friends for their lives.
                        </p>
                        <p class="text-justify">
                            Precision IT Solution aim to be the apex IT solution providing company. Our biggest asset is our valued clientele and their satisfaction towards our services.
                        </p>
                        <p class="text-justify">
                            Timely service and Quality is our key, which helps us in getting a winning-edge over our competitors. We ensure timely delivery of competitive and cost-effective solutions and services. We aspire to achieve the slot among the top companies in our sector, with the following attributes:
                        </p>
                        <ol><strong>
                            <li>Acknowledged to be LEADING Indian player in IT industry.</li>
                            <li>Appreciated for RELIABLE service and solutions.</li>
                            <li>Recognized for most TRUSTED Service Provider in IT arena.</li> 
                            <li>Recommended and be most SOUGHT company by clients.</li>
							</strong>
                        </ol>
                    </div>
                    <!-- Person Details -->
                    <div class="col-md-6 col-sm-6 col-xs-12 person-details margin-bottom-5">
                        <figure>
                            <figcaption>
                                <h3 class="margin-bottom-5">
                                    Shadab Khan
                                    <small>- Partner</small>
                                </h3>
								<p class="text-justify"><span>Mr. Khan is the founder & managing partner at Precision IT Solution. He is ‘Hardware & Networking’ expert with an exclusive track record of building remarkable IT infrastructure in many organizations.</span></p>
                            </figcaption>
                            <img src="~/Content/theme-3/img/theteam/image2.jpg" alt="image2">
                            <ul class="list-inline person-details-icons">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </figure>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Person Details -->
                    <div class="col-md-6 col-sm-6 col-xs-12 person-details margin-bottom-5 margin-to	p-1">
                        <figure>
                            <figcaption>
                                <h3 class="margin-bottom-5">
                                    S. Abbas
                                    <small>- Non - Executive Partner</small>
                                </h3>
								<p class="text-justify margin-bottom-1"><span>Mr. Abbas is a Non Executive partner at Precision. His mission is to connect every leader and organization to their inner compass which helps them improve IT infrasture and lead the market with the right mix of technology.</span></p>
                            </figcaption>
                            <img src="~/Content/theme-3/img/theteam/image3.jpg" alt="image3">
                            <ul class="list-inline person-details-icons">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </figure>
                    </div>
                    <!-- //Portfolio Item// -->
                </div>                
                <hr class="margin-bottom-10">
                @*<div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-desktop fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Laptop/Desktop</h3>
                                <p class="text-justify">Precision IT Solution gives you wide range of Laptop/Desktop sales, service, repair and maintenance. We expertise in our service.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-keyboard-o fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Hardware/Peripherals</h3>
                                <p class="text-justify">Precision serve you to fulfill all the hardware and computer/networking peripherals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-cloud-download fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Cloud Computing</h3>
                                <p class="text-justify">At Precision we also provide service on cloud computing, like cloud setup by using latest market technology like AWS, Azure etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-cogs fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Service/Maintenance</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-crosshairs fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Security/Networking</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Software/Website</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
                </div>*@
				@Html.Partial("~/Views/Shared/_ServicesLayout.cshtml")
                <hr class="margin-top-10">
            </div>
        </div>
    </div>
</div>