@{
    ViewBag.Title = "Service";
    ViewBag.ActiveClass = "service";
}
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2 class="margin-bottom-10">Services</h2>
                <!-- Top Panels -->
                @*<div class="row padding-top-20">
                    <div class="col-md-4 animate fadeInLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <i class="fa fa-tablet fa-4x"></i>
                            </div>
                            <div class="panel-body text-center">
                                <h3 class="margin-bottom-10">Sales & Services</h3>
                                <p>We sell laptops, desktops, work stations, any harwardware, periferals like routers, Wi-Fi routers, Firewall, Racks, Switches, cables.</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate fadeIn">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <i class="fa fa-cloud-download fa-4x"></i>
                            </div>
                            <div class="panel-body text-center">
                                <h3 class="margin-bottom-10">Networking Solution</h3>
                                <p>  We have expertise in all types of hardware services and networking like </p>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate fadeIn">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <i class="fa fa-desktop fa-4x"></i>
                            </div>
                            <div class="panel-body text-center">
                                <h3 class="margin-bottom-10">Laptop/Desktop Repair Service</h3>
                                <p>
                                    Timely service and Quality is our key, which helps us in getting a winning-edge over our competitors.
                                    We ensure timely delivery of competitive and cost-effective solutions and services.
                                </p>  
                            </div>
                        </div>
                    </div>
                </div>*@
				@Html.Partial("~/Views/Shared/_ServicesLayout.cshtml")
                <!-- End Top Panels -->
            </div>
        </div>
    </div>
</div>