@{ Layout = null;}
<div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-desktop fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Laptop/Desktop</h3>
                                <p class="text-justify">Precision IT Solution gives you wide range of Laptop/Desktop sales, service, repair and maintenance. We expertise in our service.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-keyboard-o fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Hardware/Peripherals</h3>
                                <p class="text-justify">Precision serve you to fulfill all the hardware and computer/networking peripherals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-cloud-download fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Cloud Computing</h3>
                                <p class="text-justify">At Precision we also provide service on cloud computing, like cloud setup by using latest market technology like AWS, Azure etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-cogs fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Service/Maintenance</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-crosshairs fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Security/Networking</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse color-white"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="margin-vert-10">Software/Website</h3>
                                <p class="text-justify">Precision provide service and maintenance for all kind of laptop, desktop, networking, server and other IT infrastructures.</p>
                            </div>
                        </div>
                    </div>
                </div>
